@keyframes blinkcolor {
    30%{
        color: #f50909;
    }
    70%{
        color: #e8f803;
    }
    100%{
        color: #00ff0df1;
    }
}
@keyframes moveleft {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(20px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes moveright {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-20px);
    }
    100%{
        transform: translate(0px);
    }
}

body{
    margin: 0;padding: 0;
}
/* .container{
    background: #000;
    opacity: 0.2;
} */
.myClass{
    font-family: FontAwesome;
    position: relative;
    animation-name: blinkcolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.myClass::before{
    content: "\2764\2764\2764\27A4";
    font-family: fontawesome;
    position: absolute;
    top: 15%;
    left: 39%;
    animation-name: moveleft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.myClass::after{
    content: "\25C4\2764\2764\2764";
    font-family: fontawesome;
    position: absolute;
    top: 15%;
    right: 39%;
    animation-name: moveright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.form-control{
    /* box-sizing: border-box;
    padding-left: 30%;
    padding-right: 30%; */
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.tHide{
    display: none;
}